#game-view,
#newGamePop {
    display: none;
}

#main-view {
  width: 50%;
  border: 1px solid black;
  margin: 4em auto;
  padding: 2em 2%;
  text-align: center;
}

.form-group {
  width: 35%;
}

.dot {
  width: 100px;
  height: 100px;
  background: rgba(0,0,0,0.5);
  border-radius: 50px;
}

.fa {
  display: block;
}

.fa:before {
  color: #ff670f;
  font-size: 100px;
}

table, th {
  text-align: center;
}

th {
  font-size: 1.3em;
  color: #fff;
  background: #FF0000;
}

div#team {
  background: #707070;
}

div#team-score {
  color: #fff;
}

div#team-score h2 {
  text-align: center;
}

div#team-total {
  text-align: center;
  font-size: 15em;
}

div#outs {
  margin-top: 1.5em;
}

.out {
  margin: .5em;
}






















/*end*/
